.CreateTodoButton{
    height: 70px;
    width: 70px;
    z-index: 2;
    position: fixed;
    font-size: 50px;
    text-align: center;
    top: 90vh;
    left: 75vw;
    background-color:#62dddd;
    border: solid #53ecec 2px;
    border-radius: 100%;
    color: #fff;
}

.CreateTodoButton:hover{
    cursor: pointer;
}

 @media (min-width: 520px) {
    .CreateTodoButton{
        left: 87vw;
    }
 }