.CreateTodoButton{
    height: 70px;
    width: 70px;
    z-index: 2;
    position: fixed;
    font-size: 50px;
    text-align: center;
    left: 87vw;
    top: 85vh;
    background-color:#62dddd;
    border: solid #53ecec 2px;
    border-radius: 100%;
    color: #fff;
}

.CreateTodoButton:hover{
    cursor: pointer;
}

 @media (max-width: 520px) {
    .CreateTodoButton{
        z-index: 2;
        height: 50px;
        width: 50px;
        font-size: 42px;
        top: 80vh;
        left: 75vw;
    }
 }