ul li {
    width: 90%;
    height: 80px;
    margin: 0% auto;
    background-color: rgb(101, 101, 101);
    border-radius: 10px;
    display: flex;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(2, 2, 2, 0.15);
  }
  