.div--TodoSearch{
    display: grid;
    justify-content: center;
}
.div--TodoSearch input{
    width: 60vw;
    background-color: #53ecec;
    border: solid #62dddd 2px;
    border-radius: 7px;
    padding: 5px 0px;
    text-align: center;
    color: #fff;
}
.div--TodoSearch input:focus{
    outline-color:#53ecec;
}

.div--TodoSearch input::placeholder{
    color: #fff;
}