/* .div--TodoSearch{
    display: grid;
    justify-content: center;
}
.div--TodoSearch input{
    width: 70vw;
    height: 3vh;
    background-color: #F4FEFD;
    border: solid #0EF6CC 3px;
    border-radius: 7px;
    padding: 5px 0px;
    font-size: 1.6rem;
    text-align: center;
    color: #3A4F50;
}
.div--TodoSearch input:focus{

    outline-color:#53ecec;
}

.div--TodoSearch input::placeholder{
    color: #3A4F50;
} */